<h2><%= @character.title %> <%= link_to "(edit)", edit_house_character_path(@character.house, @character) %></h2>
<h3>By: <%= @character.house.name %></h3>

Description: <%= @character.description %></br>
